#contact{
 max-width: 1500px;
 margin: 0px auto;
 padding-top: 10px;
 }

.contact-page {

  display: flex;
  justify-content: space-between;
  padding: 4%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  max-width: 5500px;
  margin: 0 auto;
}

.contact-info {
  width: 50%;
  text-align: left;
  padding: 3%;
  justify-items: center !important;
}

#contact h2 {
  font-size: 44px;
  color: #EAE7DC;
  text-align: center;
  padding-bottom: 20px;
}

.contact-info {
  justify-content: space-around;
}

.contact-info p {
  margin-bottom: 20px;
  color: #EAE7DC;
  font-size: 18px;
}

.location {
  display: flex;
  align-items: center;
  color: #EAE7DC;
  margin-bottom: 5px;
}

.location p {
  margin-left: 5px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.cp {
  width: 40%;
  margin: 0 auto;
  text-align: center;
   box-shadow: 0 0px 10px #00FFE7;
  padding: 3%;
  border-radius: 5px;
}

.cp h2 {
  padding-bottom: 6%;
  text-align: center;
  font-size: 44px;
  color: #EAE7DC;
}

form {
  display: flex;
  flex-direction: column;
  color: #009dffaa;
}

form label {
  font-size: 18px;
  margin: 10px 0;
  text-align: left;
}

form input, form textarea {
  padding: 15px;
  border: none;
  background-color: #222222;
  font-size: 18px;
  margin-bottom: 20px;
  color: #EAE7DC;
}

form input:focus, form textarea:focus {
  outline: none;
}

button {
  padding: 6px;
  background-color: #009dffaa;
  border: 1px solid #111111;
  color: #EAE7DC;
  width: 70px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  align-items: center;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    z-index: 1;

}



button:hover {
  background-color: #EAE7DC;
  color: #557722;
}

.location img {
  width: 18px;
  height: 18px;
  margin-right: 3px;
}

.social-icons {
  align-items: center;
}

.loc p {
  padding-top: 16px;
}

footer {
  text-align: center;
  color: #777777;
  font-size: 12px;
  margin-top: 8px;
  padding-bottom: 8px;
}

hr {
  border: 0.1px solid #EAE7DC;
}

.social-icons img{
    width: 30px;
    height: 30px;
}

.social-icons img:hover{
        transform: scale(1.1);
}


.required {
color: #EAE7DC;
font-size: 16px;
}


@media (max-width: 700px){

    .contact-page {

      display: flex;
      flex-direction: column;
      text-align: center;
        align-items: center;
        justify-content: center;
    }
.contact-info {
width: 90%;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.cp {
margin-top: 10px;
  width: 70%;

}

}


@media (max-width: 500px){
.contact-info p {
  margin-bottom: 20px;
  color: #EAE7DC;
  font-size: 15px;
}
#contact h2 {
  font-size: 30px;
  padding-bottom: 10px;

}
button{
    font-size: 14px;
    padding: 4px;
    width: 60px;
    margin-bottom: 2px;
}
.cp {
margin-top: 10px;
  width: 90%;

}

.contact-info {
      width: 100%;
}

.social-icons{
    display: none;
}

.location{
    display: none;
}
form label {
  font-size: 15px;

}

form input, form textarea {

  font-size: 15px;

}
footer {
  text-align: center;
  color: #777777;
  font-size: 10px;
  margin-top: 8px;
  padding-bottom: 8px;
}

}