

#projects{
max-width: 1500px;
  margin: 0 auto;  /* Centers the container horizontally */
display: flex;
  justify-content: center; /* Center the grid horizontally */
  align-items: center; /* Center the grid vertically */
  width: 100%; /* Ensure it takes the full width of its parent */
  height: 100%;
  padding-bottom: 80px;
}

.project-grid{
padding-top: 30px;
    gap: 60px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
       justify-items: center; /* Horizontally center items within each grid cell */
        align-items: center; /* Vertically center items within each grid cell */
        width: 100%;
}

.card {
  width: 400px;
  height: 400px;
  box-shadow: 0 0px 10px #00FFE7;
}

.projects-container h2 {
      text-align: center;
      font-size: 45px;
}

.projects-container h3 {
      text-align: center;
      font-size: 17px;
      padding-left: 1%;
      padding-right: 1%;
      justify-content: center;

}

.card-info{
      color: #9FA8DA;
}

.projects-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;

}

.front-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.front-top p{
    font-size: 11px;
    font-style: italic;
}


.card-img {
    display: flex; /* Makes the container a flexbox */
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */
    height: 100%; /* Ensure the container has a height to center vertically */
}

.card-img img{
      max-width: 98%;
      height: 280px;
      align-items: center;

}

.card-flip-icon img{
    max-width: 35px;
    height: 35px;

}

.card-title-b{
    padding-bottom: 2%;
}

.card-front {
  background: #111111;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width

}


.card-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0.5rem 0;
}

.card-description {
  font-size: 15px;
   color: #009dffaa;

}

.card-tech {
  font-size: 14px;
  color: #009dffaa;

}

.card-back {
  background: #111111;
  color: #EAE7DC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: rotateY(180deg);
  text-align: center;
}

.card-info h3{
    padding-bottom: 2%;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}


.card-description{
    padding-bottom: 10%;
    padding-left: 2%;
    padding-right: 2%;

}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}


.card-front, .card-back {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.card-footer img{
    max-width: 35px;
    height: 35px;
}

.card-footer img:hover{
    filter: brightness(0.6); /* Increases brightness for a lighter effect */
    transition: 0.3s ease;
}

.card-back-top{
    display: flex;
    margin-left: auto;
}

.card-footer{
    display: flex;
    margin-right: auto;
    padding-bottom: 1%;
    padding-left: 1%;
}



@media (max-width: 1450px) {

.project-grid{
    gap: 60px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);


}

.card {
  width: 350px;
  height: 350px;
  box-shadow: 0 0px 10px #00FFE7;
}

.card-img img{
      max-width: 98%;
      height: 220px;
      align-items: center;

}
.card-description {
  font-size: 12px;
   color: #9FA8DA;

}

.card-tech {
  font-size: 12px;
  color: #009dffaa;

}


}

@media (max-width: 1325px) {

.project-grid{
    gap: 60px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);


}

.card {
  width: 450px;
  height: 450px;
  box-shadow: 0 0px 10px #00FFE7;
}

.card-img img{
      max-width: 98%;
      height: 320px;
      align-items: center;

}

.card-description {
  font-size: 14px;
   color: #009dffaa;

}

.card-tech {
  font-size: 14px;
  color: #009dffaa;

}


}

@media (max-width: 1080px) {

.project-grid{
    gap: 60px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);


}

.card {
  width: 500px;
  height: 500px;
  box-shadow: 0 0px 10px #00FFE7;
}

.card-img img{
      max-width: 100%;
      height: 350px;
      align-items: center;

}
.card-description {
  font-size: 15px;
   color: #009dffaa;

}

.card-tech {
  font-size: 15px;
  color: #009dffaa;

}


}

@media (max-width: 700px) {


.project-grid{
    gap: 50px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);


}

.card {
  width: 300px;
  height: 300px;
  box-shadow: 0 0px 10px #00FFE7;
}

.card-img img{
      max-width: 100%;
      height: 180px;
      align-items: center;

}

.card-description {
  font-size: 10px;
   color: #009dffaa;

}

.card-tech {
  font-size: 10px;
  color: #009dffaa;

}


}


@media (max-width: 500px) {

.project-grid{
padding-top: 0px;
}

#projects{
padding-bottom: 40px;
}
.projects-container h2 {
      text-align: center;
      font-size: 30px;
}


}