.certifications-container {
  max-width: 1500px;
  margin: 0 auto;
  width: 90%;
  padding-bottom: 70px;

}

.c{
    font-size: 45px;
    text-align: center;
    padding-bottom: 40px;
}

.certifications-grid {
align-items: center;
justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  row-gap: 40px;
}

.certification-card-wrapper {

  width: 420px;

}


.certification-card {
  background-color: #111111;
  padding: 1.5rem;
  height: 165px;
  transition: transform 0.2s ease-in-out;
  border-radius: 10px;
    box-shadow: 0 0px 9px #00ccffbd;
}


.card-header {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.card-title {

  font-weight: bold;
  color:#009dffaa;
  font-size: 17px;
}

.issue-date {
  color: #999999;
  font-size: 13px;

}

.issuer {
  font-weight: bold;
  padding-bottom: 3%;

}



.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}

.icon-wrapper img{
  width: 80px;
  padding-bottom: 1%;
}

.icon-wrapper img:hover{
  opacity: ;
    transform: scale(1.05);
}


.card-content {
  text-align: center;
}



.date {
  font-style: italic;
}


@media (max-width: 1465px) {

    .certifications-grid {
    align-items: center;
    justify-items: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      row-gap: 40px;
    }

.certifications-container {

  width: 70%;

}


}

@media (max-width: 1465px) {

    .certifications-grid {
    align-items: center;
    justify-items: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      row-gap: 40px;
    }

.certifications-container {

  width: 70%;

}


}

@media (max-width: 1250px) {

    .certifications-grid {
    align-items: center;
    justify-items: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      row-gap: 40px;
    }

.certifications-container {

  width: 80%;

}


}


@media (max-width: 1100px) {

    .certifications-grid {
    align-items: center;
    justify-items: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      row-gap: 40px;
    }

.certifications-container {

  width: 90%;

}


}

@media (max-width: 980px) {

    .certifications-grid {
    align-items: center;
    justify-items: center;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;
      row-gap: 40px;
    }

.certifications-container {

  width: 90%;

}

.card-header {
  font-size: 14px;
}

.card-title {
  font-size: 16px;
}

.issue-date {
  font-size: 12px;
}


}



@media (max-width: 700px) {


    .certifications-grid {
    align-items: center;
    justify-items: center;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;
      row-gap: 40px;
    }

.certifications-container {

  width: 90%;

}

.card-header {
  font-size: 10px;
}

.card-title {
  font-size: 12px;
}

.issue-date {
  font-size: 10px;
}

.certification-card-wrapper {

  width: 310px;

}
.certification-card {

  height: 125px;

}
.icon-wrapper img{
  width: 60px;
  padding-bottom: 1%;
}

}


@media (max-width: 500px) {

.c{
    font-size: 30px;

}
.certifications-container {

  padding-bottom: 40px;

}
}
