#experience {
  padding-bottom: 60px;
  max-width: 1500px;
  margin: 0 auto;

}

.experience-header {
  text-align: center;
  font-size: 44px;
  margin-bottom: 4%;
}
.dateee{
 color : #999999;
 font-style: italic;
  font-size: 14px;
  padding-right:10px;
}

.company-container {
padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 7.5%;
  width: 85%;
  margin-bottom: 25px;
  z-index: 1;
  border-radius: 5px;
  background-color: #111111;
  box-shadow: 0 0px 10px #00ccffbd;
}

.company-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.company-logo {
padding-left: 10px;
  width: 100px;
  height: auto;
  border-radius: 5px;
    color: #9CB189;
    font-size: 28px;
    font-family: 'Comfortaa', sans-serif;

}
  .company-logo1 {
    width: 80px;
    height: auto;
    border-radius: 5px;
  }

.job-title {
  font-size: 24px;
  color: #009dffaa;
  padding-left: 2%;
}

.tech-stack {
padding-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-left: auto;
  padding-bottom: 10px;
}

.tech-elogo {
  width: 24px;
  height: 24px;
}

.company-details {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.points-container {
    padding-left: 2%;
    padding-right: 1%;
}

.points {
  list-style-type: disc;
     text-align: justify;
  font-size: 16px;
  line-height: 1.5;
  color: #EAE7DC;
}

.points li {
  margin-top: 2%;
  text-align: justify;
}

.view-more-container {
  display: flex;
  justify-content: center;
  color:#009dffaa;
  padding-bottom: 2%;
  width: 100%
}


.view-more-button {

  background-color: #009dffaa;
  border: none;
  width: 100px;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  color: #EAE7DC;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.view-more-button:hover {
  opacity: 0.9;
    color: #9FA8DA;
}


.view-more-button.clicked {
  background-color: #EAE7DC;
  color: #2a2c39;
}


/* Responsive Breakpoint for below 1000px */
@media (max-width: 1000px) {
  .company-header {
    display: flex;
    flex-wrap: wrap;

  }

.job-title {
  font-size: 20px;
  color: #009dffaa;
  padding-left: 2%;
}

  /* Adjust the tech stack to fit properly */

  .tech-elogo {
    width: 18px;
    height: 18px;
  }


  .dateee{
   color : #999999;
   font-Style: italic;
    font-Size: 12px;
    padding-left: 0.75%;
  }

  .company-logo {

    width: 80px;
    height: auto;
    font-size: 24px;
    border-radius: 5px;

  }

  .company-logo1 {
    width: 60px;
    height: auto;
    border-radius: 5px;
  }


  .points {
    list-style-type: disc;
       text-align: justify;
    font-size: 14px;
    line-height: 1.5;
    color: #EAE7DC;
  }
}

@media (max-width: 800px) {
  .company-logo {
    padding-left: 2%;
    width: 60px;
    height: auto;
    font-size: 20px;
    border-radius: 5px;

  }
    .company-logo1 {
      width: 50px;
      height: auto;
      border-radius: 5px;
    }
   .dateee{
     color : #999999;
     font-Style: italic;
      font-Size: 10px;
      padding-left: 0.75%;
    }

 .points {
    list-style-type: disc;
       text-align: justify;
    font-size: 12px;
    line-height: 1.5;
    color: #EAE7DC;
  }

    .tech-elogo {
      width: 14px;
      height: 14px;
    }

    .job-title {
      font-size: 16px;
      color: #9FA8DA;
      padding-left: 2%;
    }

}


@media (max-width: 500px) {

  .company-logo {
    width: 55px;
    font-size: 17px;


  }

    .company-logo1 {
      width: 45px;
      height: auto;
      border-radius: 5px;
    }


  #experience {
    padding-bottom: 30px;


  }


   .dateee{
      font-Size: 9px;
    }

    .tech-elogo {
      width: 12px;
      height: 12px;
    }

    .job-title {
      font-size: 16px;
      color: #00ccffbd;
      padding-left: 2%;
    }
.view-more-button {

  background-color: #009CFF;
  border: none;
  width: 80px;
  padding: 6px;
  cursor: pointer;
  border-radius: 5px;
  color: #EAE7DC;
  font-size: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

}

@media (max-width: 420px){

    .dateee{
          font-Size: 7px;
            display: flex;
            flex-wrap: wrap;
        }

         .company-logo {
            width: 50px;
            font-size: 16px;


          }
            .company-logo1 {
              width: 40px;
              height: auto;
              border-radius: 5px;
            }

}


@media (max-width: 500px){

.experience-header {
  font-size: 30px;
  padding-bottom: 15px;

}
  .experience-header {

    font-size: 30px;

  }


}
@media (max-width: 390px){

.experience-header {
  font-size: 30px;
  padding-bottom: 15px;

}
   .job-title {
      font-size: 14px;
      color: #9FA8DA;
      padding-left: 2%;
    }

     .company-logo {
                width: 47px;
                font-size: 15px;


              }

}

