.complete-home{
max-width: 1500px;
  margin: 0 auto;
   padding-bottom: 0px;/* Centers the container horizontally */
}


.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 185px;
  padding-bottom: 125px;
  gap: 100px;
}

.profiles img{
    width: 30px;
    height: 30px;
    border-radius: 0px;
}

.intro {
  justify-content: space-around;
}

.full-stack {
  padding-left: 0;
  margin-top: 30px;
  padding-bottom: 15px;
}

.typewriter-wrapper .first-word {
  display: inline-block;
}

.typewriter-wrapper .second-word {
  display: inline-block;
  margin-left: -2%;
}

.home-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 50px;
}

h1 {
  font-size: 40px;
  margin: 10px 0;
  font-family: "montserrat", sans-serif;
  font-weight: 700;
}

.full-name {
  color: #00ccffbd;
  font-size: 40px;
  font-family: "montserrat", sans-serif;
  font-weight: 700;
}

.photo {
  width: 300px;
  z-index: 1;
}

.photo img {
  max-width: 100%;
  max-height: 400px;
  margin-top: 12%;
  border-radius: 5px;
  padding-bottom: 15px;

}




.home-button {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #eae7dc;
  border-radius: 5px;
  background-color: #00ccffbd;
  box-shadow: 0px 0px 8px #00ccffbd;
  color: #EAE7DC;
  width: 140px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  z-index: 1;
}
.complete-home {
  background-image: url("../assets/kit.jpg"); /* use your actual image name */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* ensure full screen height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-button:hover {
  background-color: #EAE7DC;
  color:#171e1d39 ;
  border: 1px solid #16040e;
}

.tagline {
  margin-top: 4%;
  justify-content: space-around;
  display: flex;
}

.profiles {

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  gap: 30px;
}

@media (max-width: 1200px) {

.Home {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
}

@media (max-width: 1000px) {

.Home {
    padding-top: 90px;
    padding-bottom: 20px;

}

}

@media (max-width: 700px) {

h1 {
  font-size: 30px;
  margin: 10px 0;
  font-family: "montserrat", sans-serif;
  font-weight: 700;
}

.full-name {
  color: #009dffaa;
  font-size: 30px;
  font-family: "montserrat", sans-serif;
  font-weight: 700;
}
.full-stack {
  padding-left: 0;
  margin-top: 30px;
  padding-bottom: 0px;
}

.home-button {
    font-size: 16px;
    padding: 8px;
    width: 120px;
}

}

@media (max-width: 500px) {
h1 {
  font-size: 20px;
}

.full-name {

  font-size: 20px;

}
.full-stack {
font-size: 20px;
}
.home-button {
    font-size: 12px;
    padding: 6px;
    width: 90px;
    border-radius: 2px;
}

.photo {
  width: 280px;
  z-index: 1;

}
.profiles {

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  gap: 30px;
}

.Home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-stack {
  padding-left: 0;
  margin-top: 15px;
}

.home-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 25px;
}

.photo img {
  max-width: 100%;
  max-height: 400px;
  margin-top: 0px;
  border-radius: 5px;
  padding-bottom: 15px;

}
.Home {
    padding-top: 100px;
    padding-bottom: 30px;
}


}




