#skills{
max-width: 1500px;
  margin: 0 auto;  /* Centers the container horizontally */
padding-bottom: 25px;
padding-top: 10px;
}

.tech_skills{

text-align: center;
font-size: 45px;
}

.scroller {
  max-width: 80%;
  margin-left: 10%;
  padding-bottom: 40px;

}

.tech_skills{
    padding-bottom: 20px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tech-item {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border: 1px solid #444444;
  background-color: #111111;
  border-radius: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0px 7px #00ccffbd;
}

.skills-category{
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      font-weight: 600;
      color: #009dffaa;
      text-align: center;
}

.tech-logo {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
}

.tech-item:hover {
  transform: scale(1.15);
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 50s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}


@media (max-width: 500px){
.scroller {

   padding-bottom: 10px;

 }

.tech_skills{
 font-size: 30px;
 }

.tech-item {

  width: 40px;
  height: 40px;
  padding: 6px;
}
.tech-logo {
  width: 40px;
  height: 40px;

}

.skills-category{

      font-size: 14px;
      z-index: 1000;


}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 50s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 25s;
}

}
