*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    background-color: #000000;

    font-family: "montserrat", sans-serif;
    color: #EAE7DC;

}

html {
    overflow: -moz-hidden;
    overflow-y: scroll;
}
